pandas==2.3.3
spacy==3.8.14
google-api-python-client==2.197.0
youtube-transcript-api==1.2.4
colorthief==0.2.1
requests==2.34.2
streamlit==1.58.0
altair==6.1.0
python-dotenv==1.2.2
google-genai==2.8.0
filelock==3.32.7
